@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kristi&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --main-green: #1abc9c;
  --second-green: #2ecc71;
  --bgColor2: #ececec;
  --bgColor3: #f2f3f5;
  --bgColor1: #fefcfe;
  --bgColorPopUp: #f3f1f3;
  --textColor: #374958;
  --accentDark: #1f8d4d;
  --accent: #2abd67;
}
body {
  height: 100%;
}

header {
  position: relative;
  height: 70px;
  background-color: var(--bgColor3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--accentDark);
}
.hamburger {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  left: 10px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.hamburger:hover,
.project-item > img:hover {
  background-color: rgba(128, 128, 128, 0.267);
}
.hamburger:active,
button:active,
.project-item > img:active,
.project-form > .buttons > input:active {
  transform: scale(0.9);
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
}
.logo > span {
  color: var(--second-green);
}

.container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}
.sidebar {
  background-color: var(--bgColor1);
  box-sizing: border-box;
  width: 350px;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}

.home,
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar button,
.project-item {
  display: flex;
  justify-content: start;
  height: 40px;
  gap: 15px;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}
.sidebar button:hover,
.project-form:hover,
.project-item:hover {
  border-radius: 5px;
  background-color: var(--bgColor2);
}
.home > button.active {
  border-radius: 0 5px 5px 0;
  border-left: 5px solid var(--accent);
  background-color: #2abd6770;
  pointer-events: none;
}
.home > button.active:hover,
.project-form > .buttons > input:hover {
  filter: brightness(90%) !important;
}

.sidebar h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: 600;
}

.hide {
  top: 0;
  left: 0;
  pointer-events: none !important;
  position: absolute !important;
  max-height: 0 !important;
  transition: max-height 1s ease-out !important;
  opacity: 0 !important;
}

.project-item {
  justify-content: space-between;
}
.project-item > img {
  padding: 3px;
  border-radius: 4px;
  margin-right: 5px;
}

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  gap: 15px;
}
.project-form > input[type="text"] {
  width: 80%;
  height: 30px;
  border: black 2px solid;
  border-radius: 2px;
  padding-left: 5px;
}
.project-form > .buttons {
  display: flex;
  gap: 10px;
}
.project-form > .buttons > input {
  border: none;
  width: 70px;
  color: white;
  font-size: 16px;
  height: 35px;
  border-radius: 4px;
}
.project-form > .buttons > input[value="Add"] {
  background-color: var(--accentDark);
}
.project-form > .buttons > input[value="Cancel"] {
  background-color: rgb(235, 80, 80);
}

.content {
  background-color: var(--bgColor2);
  padding: 30px 50px;
  flex: 1;
  min-height: 100vh;
  box-sizing: border-box;
}

@media (max-width: 930px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    z-index: 3;
    overflow: auto;
    width: auto;
  }
}
