@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Kristi&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  --main-green: #1abc9c;
  --second-green: #2ecc71;
  --bgColor2: #ececec;
  --bgColor3: #f2f3f5;
  --bgColor1: #fefcfe;
  --bgColorPopUp: #f3f1f3;
  --textColor: #374958;
  --accentDark: #1f8d4d;
  --accent: #2abd67;
}

body {
  height: 100%;
}

header {
  position: relative;
  height: 70px;
  background-color: var(--bgColor3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--accentDark);
  user-select: none;
}

.hamburger {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 6px;
  left: 10px;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger:hover,
.project-item > img:hover,
.right img:hover {
  background-color: rgba(128, 128, 128, 0.267);
}

.hamburger:active,
button:active,
.project-item img:active,
.project-form .buttons > input:active,
.right img:active,
.todo-form .buttons > input:active {
  transform: scale(0.95);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
}

.logo > span {
  color: var(--second-green);
}

.container {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 100%;
}

.sidebar {
  background-color: var(--bgColor1);
  box-sizing: border-box;
  width: 350px;
  user-select: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  transition: 1s ease-out;
}

.home,
.projects {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button,
.project-item,
.content .add-todo {
  display: flex;
  justify-content: start;
  height: 40px;
  gap: 15px;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
  border: none;
  background-color: transparent;
}

.sidebar button:hover,
.project-form:hover,
.project-item:hover,
.content .add-todo:hover {
  border-radius: 5px;
  background-color: var(--bgColor2);
}

.home > button.active {
  border-radius: 0 5px 5px 0;
  border-left: 5px solid var(--accent);
  background-color: #2abd6770;
}

.home > button.active:hover,
.project-form .buttons > input:hover,
.todo-form .buttons > input:hover {
  filter: brightness(90%) !important;
}

.sidebar h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-left: 5px;
  font-weight: 600;
}

.hide {
  display: none;
  pointer-events: none !important;
  position: absolute !important;
  max-height: 0 !important;
  transition: max-height 1s ease-out !important;
  opacity: 0 !important;
}

.add-project {
  transition: 1s ease-out;
}

.project-item {
  justify-content: space-between;
}

.project-item > img,
.right img {
  padding: 3px;
  border-radius: 4px;
  margin-right: 5px;
}

.project-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s ease-in-out;
  gap: 15px;
}

.project-form input[name="project-name"] {
  width: 80%;
  height: 30px;
  border: black 2px solid;
  border-radius: 2px;
  padding-left: 5px;
}

.project-form .buttons,
.todo-form .buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.project-form .buttons > input,
.todo-form .buttons > input {
  border: none;
  width: 70px;
  color: white;
  font-size: 16px;
  height: 35px;
  border-radius: 4px;
}

.project-form .buttons > input[value="Add"],
.todo-form .buttons > input[value="Add"] {
  background-color: var(--accentDark);
}

.project-form .buttons > input[value="Cancel"],
.todo-form .buttons > input[value="Cancel"] {
  background-color: rgb(235, 80, 80);
}

.content {
  background-color: var(--bgColor2);
  padding: 30px 50px;
  flex: 1;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  background-color: var(--accent);
  height: 60px;
  padding: 20px;
  font-size: 2rem;
  color: #f7f5f5;
  border-radius: 3px;
  margin-bottom: 10px;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--textColor);
  padding: 5px;
  border-radius: 10px;
}

.todo-item:hover {
  background-color: var(--bgColor1);
}

.todo-item:active,
.content .add-todo:active {
  transform: scale(0.995);
}

.left {
  display: flex;
  flex: 3;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--textColor);
  font-size: 17px;
  font-weight: 500;
}

.left .text p:nth-child(2) {
  font-size: 15px;
}

.item-checked {
  text-decoration: line-through;
  opacity: 0.7;
}

.right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding-right: 15px;
}

.date {
  font-size: 0.9rem;
  padding: 3px 6px;
  margin: 6px 5px;
  border: solid 1.5px var(--textColor);
  border-radius: 10px;
}

.unchecked {
  width: 13px;
  height: 13px;
  border: solid 2px var(--textColor);
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 10px;
  flex-shrink: 0;
}

.checked {
  background-image: url(../assets/checkmark.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-color: white;
  border-color: var(--accent);
}

.todo-form {
  background-color: var(--bgColor1);
  color: var(--textColor);
  border-radius: 10px;
}

.todo-form > form {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  position: relative;
  transition-delay: 1s;
  max-height: 500px;
  transition: max-height 0.8s ease-out, opacity 300ms ease-in-out;
  padding: 15px 20px;
  font-size: 1.2rem;
}

.todo-form input[type="text"],
input[name="title"],
textarea,
input[type="date"] {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  background-color: white;
  border: solid 2px #273746;
  border-radius: 3px;
  padding: 5px;
  resize: none;
}

.todo-form .buttons {
  margin-top: 10px;
}

.content .add-todo:hover {
  background-color: var(--bgColor1);
}

.project-item p {
  pointer-events: none;
}
.project-item.active {
  background-color: var(--bgColor2);
}
@media (max-width: 930px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    z-index: 3;
    overflow: auto;
    width: auto;
  }
}
